<%- include('partials/currentDevice') -%>

    <div class="container mt-5">
        <%- include('partials/messages') -%>
        <div id="table1">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Computer Name</th>
                        <th>Model Number</th>
                        <th>Ship Date</th>
                        <th>Age</th>
                        <th>Serial Number</th>
                        <th>Operations</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Computer Name</th>
                        <th>Model Number</th>
                        <th>Ship Date</th>
                        <th>Age</th>
                        <th>Serial Number</th>
                        
                        <th>Operations</th>
                    </tr>
                </tfoot>

                <tbody>
                    <% devices.forEach((device)=>{ %>

                    
                    <tr>
                        <td><%= device.ComputerName%></td>
                        <td><%= device.ModelNumber%></td>
                        <td><%= device.ShipDate%></td>
                        <td><%= device.Age %></td>
                        <td><%= device.SerialNumber%></td>
                        
                        <td>
                            <a href="edit/current/<%=device._id%>" class="btn btn-primary">Edit</a>
                            <form style="display: inline;" action="/current/delete/<%=device._id%>" method="POST">
                                <!-- <input type="hidden" name="_method" value="DELETE"> -->
                                <button style="cursor:pointer" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <%})%>
                    
                </tbody>

            </table>
        </div>
    </div>

<%- include('partials/footer') -%>