<%- include('partials/deviceage') -%>
<div class="container mt-5 w-50">

    <h2 class="mb-4">Update Device Data</h2>
        <form action="/edit/<%= devices.id%>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <input type="text" class="form-control" value="<%= devices.DeviceName%>" name="devicename" placeholder="Device Name">
            <input type="text" class="form-control" value="<%= devices.ShipDate%>" name="shipdate" placeholder="Ship Date">
            
            <button class="btn btn-danger btn-block mt-3">Update User</button>
        </form>
    
</div>
<%- include('partials/footer') -%>