<%- include('partials/header') -%>

    <div class="container mt-5">
        <%- include('partials/messages') -%>
        <div id="table1">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Operations</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Name</th>
                        <!-- <th>Title</th> -->
                        <th>Email</th>
                        <th>Username</th>
                        <th>Operations</th>
                    </tr>
                </tfoot>

                <tbody>
                                          
                <%users.forEach((user)=>{ %>

                    <tr>
                        <td><%= user.DisplayName%></td>
                        <!-- <td><%= user.Title%></td> -->
                        <td><%= user.DisplayName%></td>
                        
                        <td><%= user.UserPrincipalName%></td>
                        <td><%= user.SamAccountName%></td>
                        
                        
                        <td>
                            <a href="edit/" class="btn btn-primary">Edit</a>
                            <form style="display: inline;" action="/delete" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button style="cursor:pointer" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                        </td>
                    </tr>
               <% })%>
                </tbody>

            </table>
        </div>
    </div>

<%- include('partials/footer') -%>